profiles {

  standard {
    //params.chunksize = 250000000
    params.sra_accessions = ['SRR12118866']
  }
  
  docker {
    docker.enabled = true
    params.sra_accessions = ['SRR12118866']
    //params.chunksize = 250000000
  }
  
  batch {
    process.executor = 'awsbatch'
    process.queue = 'getting-started-job-queue'
    workDir = 's3://emriuom'
    aws.region = 'us-east-1'
    aws.batch.cliPath = '/home/ec2-user/miniconda/bin/aws'
  }
}
