profiles {

  standard {
    params.chunksize = 10000000000
    params.sra_accessions = ['SRR2090156']
  }
  
  docker {
    docker.enabled = true
    params.sra_accessions = ['SRR2090156']
    params.chunksize = 10000000000
  }
  
  batch {
    process.executor = 'awsbatch'
    process.queue = 'getting-started-job-queue'
    workDir = 's3://emriuom'
    aws.region = 'us-east-1'
    aws.batch.cliPath = '/home/ec2-user/miniconda/bin/aws'
  }
}
